.hierarchy-nav {
  width: 100%;
  height: min(7vw, 7vh);
  font-size: min(5vw, 5vh);
  background: var(--background-accent-color);
}

.hierarchy-nav-greeting {
  font-weight: normal;
  color: white;
  font-size: min(3vw, 3vh);
  margin: 0 0 0 min(2vw, 2vh);
  text-align: start;
  width: fit-content;
  height: 100%;
  line-height: min(7vw, 7vh);
}
