.employee-card {
  width: min(65vw, 65vh);
  height: min(30vw, 30vh);
  display: block;
  object-fit: cover;
  margin: min(2vw, 2vh);
  display: flex;
  overflow: hidden;
  box-shadow: 2px 2px 5px var(--basic-color);
  background: #fff;
  border-radius: 15px;
}

.employee-img {
  width: min(20vw, 20vh);
  height: 100%;
  display: block;
  object-fit: cover;
}

.employee-card-details {
  width: min(45vw, 45vh);
  padding: min(0.2vw, 0.2vh);
  text-align: start;
  display: flex;
  flex-direction: column;
}
.employee-name {
  width: 100%;
  height: min(10vw, 10vh);
  margin: min(3vw, 3vh) 0 0 min(2vw, 2vh);
  font-weight: normal;
  color: var(--default-color);
  font-size: min(3vw, 3vh);
}

.employee-email {
  width: fit-content;
  height: fit-content;
  margin: min(3vw, 3vh) 0 min(5vw, 5vh) min(2vw, 2vh);
  font-weight: normal;
  color: var(--basic-color);
  font-size: min(2vw, 2vh);
}
.email-icon {
  color: var(--accent-color);
  margin: min(0.5vw, 0.5vw);
}

.curr-user-icon {
  color: var(--accent-color);
  font-size: min(2vw, 2vh);
  margin: min(0.5vw, 0.5vw);
}

.display-employees-btn {
  color: var(--accent-color);
  margin: min(0.5vw, 0.5vw);
  border: none;
  background: none;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  outline: none;
}
.display-emp-icon {
  font-size: min(5vw, 5vh);
}
